<div class="container-fluid d-flex align-items-center justify-content-center" style="height: 100vh; background-color: #f7f7f7;">
  <div class="form-container">
    <form class="form">
      <p class="title">Registro</p>
      <p class="message" style="font-size: 11px;">Regístrese ahora y obtenga acceso completo a nuestra aplicación.</p>

      <div class="flex">
        <label>
          <input required="" placeholder="" type="text" class="input">
          <span>Nombre</span>
        </label>

        <label>
          <input required="" placeholder="" type="text" class="input">
          <span>Apellido</span>
        </label>
      </div>

      <label>
        <input required="" placeholder="" type="email" class="input">
        <span>Correo</span>
      </label>

      <label>
        <input required="" placeholder="" type="password" class="input">
        <span>Contraseña</span>
      </label>
      <label>
        <input required="" placeholder="" type="password" class="input">
        <span>Confirmar contraseña</span>
      </label>
      <button class="submit">Aceptar</button>
      <p class="signin">¿Ya tienes una cuenta? <a href="#" routerLink="/iniciar-sesion">Iniciar Sesion</a></p>
    </form>
  </div>
</div>