.title::before,.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: #eb636b;
}

.title::before {
  width: 18px;
  height: 18px;
  background-color: #eb636b;
}


.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.message, .signin {
  color: rgba(88, 87, 87, 0.822);
  font-size: 22px;
}

.signin {
  text-align: center;
  
}

.signin a {
  color: #eb636b;
}

.signin a:hover {
  text-decoration: underline #eb636b;
}

.background-image-container {
  position: relative;
  background-image: url("../../assets/images/pl.jpg"); 
  background-size: cover ;
  background-repeat: no-repeat;
  background-position: center;
}


.form label {
  position: relative;
}

.form label .input {
  width: 100%;
  padding: 15px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.form label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.form label .input:focus + span,.form label .input:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}

.form label .input:valid + span {
  color: green;
}


@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}
/* Estilos personalizados para el formulario */
.form {
width: 100%; /* Cambiamos el valor a 100% para que ocupe todo el ancho disponible */
background-color: #fff;
padding: 20px;
border-radius: 20px;
position: relative;
box-sizing: border-box;
margin: 0; /* Eliminamos cualquier margen adicional */
}


/* Estilos personalizados para el título */
.title {
font-size: 28px;
color: #eb636b;
font-weight: 600;
letter-spacing: -1px;
position: relative;
display: flex;
align-items: center;
padding-left: 30px;
}


.submit {
padding: 15px;
width: 100%; 
border: none;
outline: none;
background-color: #eb636b;
padding: 10px;
border-radius: 10px;
color: #fff;
font-size: 22px;
transform: .3s ease;
}


.submit:hover {
background-color: #eb636b;
}

.form-container {
  width: 90%; /* Ajustar el ancho del contenedor del formulario */
  max-width: 600px; /* Ancho máximo del contenedor */
  margin: 0 auto;
  background-color: #ffffff;
  padding: 40px; /* Aumentar el espacio de relleno */
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
font-size: 24px;
font-weight: bold;
}

.message {
font-size: 22px;
color: #888888;
}

.flex {
display: flex;
justify-content: space-between;
margin-bottom: 10px;
}

.form label {
display: block;
margin-bottom: 10px;
}

.form input {
width: 100%;
padding: 10px;
border: 1px solid #dddddd;
border-radius: 5px;
}

.submit {
width: 100%;
padding: 12px;
background-color: #eb636b ;
color: #ffffff;
border: none;
border-radius: 5px;
cursor: pointer;
}

.signin {
font-size: 14px;
color: #888888;
}

.signin a {
color: #eb636b;
text-decoration: none;
}