.background-image-container {
    position: relative;
    background-image: url("../../assets/images/pl.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }