/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mdc-snack-bar-container .mdc-snackbar__surface{
  background-color: white!important;

}

.mat-mdc-snack-bar-container .mdc-snackbar__label{
  color: black!important;

}
